@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  background-color: #faedcd;
}
